*.bak
*.vcd
*.vvp
*.elf
*.bin
*.qws
~*
.bsp
hardware/endeavour-backups
mbftdi
rtl/.qsys_edit
rtl/VexRiscvGen/project
rtl/VexRiscvGen/target
rtl/db
rtl/incremental_db
rtl/output_files
rtl/simulation
software/.clangd
