[submodule "rtl/spinal/ext/VexiiRiscv"]
	path = rtl/spinal/VexiiRiscv
	url = https://github.com/SpinalHDL/VexiiRiscv.git
[submodule "rtl/ext/sdspi"]
	path = rtl/ext/sdspi
	url = https://github.com/petrmikheev/sdspi.git
	branch = some_hacks
