*.bak
*.vcd
*.lxt2
*.vvp
*.elf
*.bin
*.qws
*.svf
*.hex
~*
.bsp
.qsys_edit
hardware/rev1/endeavour-backups
hardware/rev2/endeavour-backups
mbftdi
rtl/spinal/target
rtl/spinal/project
rtl/spinal/*.v
rtl/spinal/sim/*.v
rtl/board_rev1/db
rtl/board_rev1/incremental_db
rtl/board_rev1/output_files
rtl/board_rev1/simulation
rtl/board_rev2/db
rtl/board_rev2/incremental_db
rtl/board_rev2/output_files
rtl/board_rev2/simulation
rtl/board_rev2/greybox_tmp
software/.clangd
software/bios/ter*
software/bootloader/*.packed
software/bootloader/endeavour.dtb
software/textwm/textwm
software/linux/initrd.img
software/*/build
software/build
README.html
